* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
.slidshow-container img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
/*.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/
/* Number text (1/3 etc) */
.nextpicture {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.parallex{
  background-image: url("https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  min-height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;
  text-align: center;
  font-size: 300px;
  font-family: 'Abel', sans-serif;
  padding-top: 100px
}




.recc1{
 /* border-radius: 10%;*/
  width: 80%;
  height: 400px;
  margin-left: 170px;

  position: relative;
  top:50px;
  

  
 
  background-color: white;


}

.rec{
  position:relative;
  text-align: center;
  top:40px;
  padding-top: 60px;
  font-family: 'Abel', sans-serif;
  padding-left: 70px;
  padding-right: 100px;
}

.rec2{
  position:relative;
  text-align: center;
  top:-285px;
  left: 500px;
  padding-top: 60px;
  font-family: 'Abel', sans-serif;

  padding-left: 70px;
  padding-right: 100px;
}

.rec3{
  position:relative;
  text-align: center;
  top:-600px;
  left: 1000px;
  padding-top: 60px;
  font-family: 'Abel', sans-serif;

  padding-left: 70px;
  padding-right: 100px;

}

.hat{
  position:relative;
  text-align: center;
  font-size:60px;
  font-family: 'Abel', sans-serif;
  padding-top: 20px;
  


}


.moto{
  position: relative;
  text-align: center;
  font-size: 70px;
  font-family:'Abel', sans-serif;
  padding-top: 10px;
  padding-bottom: 30px;
  
}

.social-media-links {
    float: right;
    position: relative;
    top: 70px;
    right:5%;
}

.social-media-links img {
    width: 40px;
    margin: 0 0.2em;
}

.header-container {
    width:100%;
    height: 3%;
}

.logo-container {
    bottom: 83%;
    left: 10%;
    position: absolute;
}

.navbar {
    align-content: center;
    margin: auto;
    text-align: center;
    display: inline-block;
}

.nav-ul {
    background-color: #836985;
    list-style-type: none;
    margin: 70px auto;
    padding: 1;
    overflow: hidden;
    background-color: #111;
    position: absolute;
    width: 40%;
    top:0;
    z-index: 0;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    left: 30%;
}

.nav-buttons {
    font-family: 'Varela Round', sans-serif;
    padding: 8px 16px;
    margin:  auto 8%;
    text-align: center;
    color: #f2f2f2;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;

}

.nav-buttons:hover {
    color: #ffffff;
    cursor: pointer;
}

.nav-ul li a {
  text-decoration: none;
  color: white;
}











