body {
    margin: 0;
    background-color: #f2f2f2;
}

.header-container {
    width:100%;
    height: 3%;
}

.logo-container {
    bottom: 83%;
    left: 10%;
    position: absolute;
}

.navbar {
    align-content: center;
    margin: auto;
    text-align: center;
    display: inline-block;
}

.nav-ul {
    background-color: #836985;
    list-style-type: none;
    margin: 70px auto;
    padding: 1;
    overflow: hidden;
    background-color: #111;
    position: absolute;
    width: 40%;
    top:0;
    z-index: 0;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    left: 30%;
}

.nav-buttons {
    font-family: 'Varela Round', sans-serif;
    padding: 8px 16px;
    margin:  auto 8%;
    text-align: center;
    color: #f2f2f2;
    display: inline-block;
    font-size: 1.5em;
}

.nav-buttons:hover {
    color: #ffffff;
    cursor: pointer;
}

.paragraph-container {
    width: 100%;
    height: 100%;
    margin-top: 8%;
    position: relative;
    background-image: url(pexels-photo-1661004.jpeg);
    z-index: -3;
}

.paragraph {
    position: relative;
    top: 20%;
    margin: auto auto;
    width: 60%;
    height: 60%;
    background-color: white;
    z-index: -2;
    border-radius: 20px;
}

.paragraph h1 {
    padding-top: 20px;
    font-family: 'Abel', sans-serif;
    font-size: 2.5em;
    text-align: center;
    
}

.paragraph hr {
    top: 10%;
    width: 50%;
}

.comments {
    display: table;
    position: relative;
    left: 11.5%;
    top: 15%;
}

.comments div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 2%;
    border-right: 1px solid black;
}
.comments div:first-child {
    border-left: 1px solid black;
}

.comments div p {
    padding-top: 10px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    display: inline-block;
    align-content: center;
    position: relative;
    padding-top: 10%;
    float: top;
    margin: 0 4%;
    font-size: 150%;
}

.social-media-links {
    float: right;
    position: relative;
    top: 250%;
    right:5%;
}

.social-media-links img {
    width: 40px;
    margin: 0 0.2em;
}

.nav-ul li a {
    text-decoration: none;
    color: white;
}

.second-third-paragraph-container {
    font-family: 'Abel', sans-serif;
    display: inline-block;
    width: 98%;
}

.second-paragraph {
    display: inline-block;
    float: left;
    border-left: 1px solid black;
    height: 50%;
    margin: 100px 0;
    padding: 10px;
    line-height: 40px;
    font-size: 30px;
    position: relative;
    left: 7%;
        
}


.third-paragraph {
    position: relative;
    display: inline-block;
    float: right;
    height: 50%;
    margin: 100px 0;
    padding: 10px;
    border-left: 1px solid black;
    line-height: 40px;
    font-size: 30px;
    position: relative;
    right: 7%;
}

.footer {
    height: 50%;
    width: 100%;
    background-color: #111;
    display: inline-block;
    position: relative;
}

.survey {
    text-align: center;
    color: white;
    font-family:  'Abel', sans-serif;
}

form {
    position: relative;
    top: 30%;
}

.survey input[type="textarea"] {
    height: 40%;
    width: 30%;
}

.survey div {
    position: relative;
    float: left;
    left: 32%;
    top: 30%;
}

.survey input[type="submit"] {
    border-radius: 2px;
    background-color: white;
    color: #111;
    border: none;
    font-family:  'Abel', sans-serif;
    
}

.survey input[type="submit"]:hover {
    color: black;
}

.container div button {
    width: 20%;
    padding: 7px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #111;
    border-radius: 10px;
    color: white;
    position: relative;
    left: 39%;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

.container div button:hover {
    background-color: black;
    cursor: pointer;
}

.footer .survey #head {
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
    text-align: center;
    position: relative;
    bottom: 50%;
}

