<!DOCTYPE>
<html>
    
    <head>
        <title>Talenteam</title>
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        
    </head>
    <body>
        <div class="header-container">
            <div class="logo-container">
                <img class="logo" src="{{url_for('static' , filename='talenteam-logo.webp')}}">
            </div>
            <div class="navbar">
                <ul class="nav-ul">
                    <li class="nav-buttons" id="active"><a>For Companies</a></li>
                    <li class="nav-buttons"><a href="{{url_for('reco_route')}}">Recommendations</a></li>
                </ul>
            </div>
            <div class="social-media-links">
                <a href="https://www.facebook.com/DonaldTrump/"><img src="{{url_for('static' , filename='facebook.png')}}"></a>
                <a href="https://www.instagram.com/explore/locations/300542983774743/ebola"><img src="{{url_for('static' , filename='instegram.png')}}"></a>
                <a href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="{{url_for('static' , filename='twitter.png')}}"></a>
                <a href="https://www.linkedin.com/company/talenteam.co/"><img src="{{url_for('static' , filename='linkedin.png')}}"></a>
            </div>
        </div>
        <div class="container">
            <div class="paragraph-container">
                <div class="paragraph">
                    <h1>Why Should You Work With Us?</h1>
                    <hr>
                    <div class="comments">
                    <div>
                        <p>TalenTeam will introduce the companies <br>to new gradutes who have a<br> hard time finding a job and have<br> the top amount <br>of skills available in the market</p>
                    </div>
                    <div>
                        <p>The graduates that don't have the <br>opportunity to work hence a lack of <br>experience, TalenTeam will help them <br>get the chance to work in companies that <br>are not looking for professional in the business.</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="second-third-paragraph-container">
                <div class="second-paragraph">
                    <h1>How Does It Work?</h1>
                    <p>TALENTEAM provides a holistic solution – an innovative <br>model leveraged by experts, a unique scalable data-base of<br> talents focusedon the STEM fields, in addition to <br>personal attention to talents which allows each candidate<br> to reach his/her full potential. At thesame time <br>building a shortlist of talents for the positions and <br>accompanying the companies and talents during<br> the recruitment andon-boarding process.</p>
                    
                    
                </div>
                
                <div class="third-paragraph">
                    <h1>What Do We Do?</h1>
                    <p>TALENTEAM is a head-hunting agency that specializes <br>in identifying, recruitment and placement of academic <br>talentsmid- management and executives from the Arab <br>society. The agency deals with a market failure, while<br> many employers are suffering froma shortage<br> of talented candidates from the Arab community, <br>while about 60,000 Arab with academic degree are <br>employed in jobsthat do not suit their skills and education, <br>not maximizing their full earning potential.</p>
                </div>
            </div>
            <div>
                <button onclick="window.location.href='{{url_for('reco_route')}}'">For Companies Testomnials Click Here</button>
            </div>
            <div class="footer">
                    <form method="post" action="/">
                        <div class="survey">
                            <p id="head">Want To Join Our Community?</p>
                            <div>
                                <p><strong>Company Name:</strong></p>
                                <input type="text" name="companyName" placeholder="Company Name">
                                <p><strong>Company Email:</strong></p>
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <textarea rows="10" cols="50" name="companyInfo" placeholder="What Does Your Company Do"></textarea>
                            
                            <input type="submit" value="Post">
                        </div>
                    </form>
            </div>
        </div>

    
    </body>

</html>