<!DOCTYPE>
<html>
    
    <head>
        <title>Talenteam</title>
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        
    </head>
    <body>
        <div class="header-container">
            <div class="logo-container">
                <img class="logo" src="{{url_for('static' , filename='talenteam-logo.webp')}}">
            </div>
            <div class="navbar">
                <ul class="nav-ul">
                    <li class="nav-buttons" id="active"><a>For Companies</a></li>
                    <li class="nav-buttons"><a href="{{url_for('reco_route')}}">Recomendations</a></li>
                </ul>
            </div>
            <div class="social-media-links">
                <img src="{{url_for('static' , filename='facebook.png')}}">
                <img src="{{url_for('static' , filename='instegram.png')}}">
                <img src="{{url_for('static' , filename='twitter.png')}}">
            </div>
        </div>
        <div class="container">
            <div class="paragraph-container">
                <div class="paragraph">
                    <h1>Why Should You Work With Us?</h1>
                    <hr>
                    <div class="comments">
                    <div>
                        <p>TalenTeam will introduce the <br>new graduates to the companies <br>that have a lack of workers </p>
                    </div>
                    <div>
                        <p>People who have issue to find <br>work will be introduce to companies</p>
                    </div>
                    <div>
                        <p>The graduates that don't have the <br>opportunity to work since a lack of <br>experience, TalenTeam will help them       <br>get the chance to work in companies that <br>are not looking for professional in the business.</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="second-third-paragraph-container">
                <div class="second-paragraph">
                    <h1>How Does It Work?</h1>
                    <p>TALENTEAM provides a holistic solution – an innovative <br>model leveraged by experts, a unique scalable data-base of<br> talents focusedon the STEM fields, In addition to <br>personal attention to talents which allows each candidate<br> to reach his/her full potential. At thesame time <br>building a shortlist of talents for the positions and <br>accompanying the companies and talents during<br> the recruitment andon-boarding process.</p>
                    
                    
                </div>
                
                <div class="third-paragraph">
                    <h1>What Do We Do?</h1>
                    <p>TALENTEAM is a head-hunting agency that specializes <br>in identifying, recruitment and placement of academic <br>talentsmid- management and executives from the Arab <br>society. The agency deals with a market failure, while<br> many employers are suffering froma shortage<br> of talented candidates from the Arab community, <br>while about 60,000 Arab with academic degree are <br>employed in jobsthat do not suit their skills and education, <br>not maximizing their full earning potential.</p>
                </div>
            </div>
            <div class="footer">
                    <form method="post" action="">
                        <div class="survey">
                            <div>
                                <p>Company Name:</p>
                                <input type="text" name="companyName" placeholder="Company Name">
                                <p>Company Email:</p>
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <textarea rows="10" cols="50">What Does Your Company Do?</textarea>
                            
                            <input type="submit" value="Post">
                        </div>
                    </form>
            </div>
        </div>

    
    </body>

</html>