<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/recommendations.css">
    <title>recommendations</title>
</head>
<body>

<div class="title">recommendations</div>

<div class="container">

        <div>
            <img class="backgroundpic" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </div>

        <div class="box">.</div>

        <div class="phagraph-container">
            <p class="p1">- A great place to rapidly progress in your career, not constrained by larger organisations’ red tape - Promotes a very high quality service to clients - Good balance of learning on the job, as well as formally - Advocates hard work and celebrates employees achievements - Opportunity to work with a variety of clients in different industries and locations - Flexible working - Good benefits - Supportive and friendly colleagues</p>
        </div>  


        <div class="phagraph-container">
            <p>another information about talenTeam</p>
        </div>


        <div class="phagraph-container">

        </div>


        <div class="picturegrad">
            
        </div>

        <div class="picturesolution">
            
        </div>




    <div class="slideshow-container">


            <div class="slideshow fade">
                <div class="nextpicture">1/4</div>
                <img id="picture1" src="https://images.pexels.com/photos/1249158/pexels-photo-1249158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width: 100%">
            </div>

            <div class="slideshow fade">
                <div class="nextpicture">2/4</div>
                <img id="picture2" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width: 100%" >
            </div>

            <div class="slideshow fade">
                <div class="nextpicture">3/4</div>
                <img id="picture3" src="https://images.pexels.com/photos/1181715/pexels-photo-1181715.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width: 100%">
            </div>

            <div class="slideshow fade">
                <div class="nextpicture">4/4</div>
                <img id="picture4" src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width: 100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <br>

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>  
            </div>

    </div>

          

</div>



<script type="text/javascript" src="../static/recommendations.js"></script>
    

    

    

</body>
</html>