<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="../static/recommendations.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <title>recommendations</title>
</head>
<body>
    <body>
        <div class="header-container">
            <div class="logo-container">
                <img class="logo" src="{{url_for('static' , filename='talenteam-logo.webp')}}">
            </div>
            <div class="navbar">
                <ul class="nav-ul">
                    <li class="nav-buttons" id="active"><a href="{{url_for('home_route')}}">For Companies</a></li>
                    <li class="nav-buttons"><a href="{{url_for('reco_route')}}">Recomendations</a></li>
                </ul>
            </div>
            <div class="social-media-links">
                <a href="https://www.facebook.com/DonaldTrump/"><img src="{{url_for('static' , filename='facebook.png')}}"></a>
                <a href="https://www.instagram.com/explore/locations/300542983774743/ebola"><img src="{{url_for('static' , filename='instegram.png')}}"></a>
                <a href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="{{url_for('static' , filename='twitter.png')}}"></a>
                <a href="https://www.linkedin.com/company/talenteam.co/"><img src="{{url_for('static' , filename='linkedin.png')}}"></a>
                
            </div>
        </div>

<div class="parallex" style="  filter:drop-shadow(7px 7px 9px gray);" ><div style="background-color:white; border-radius:20px; background: rgba(204, 204, 204, 0.5);width: 1500px;margin: auto;"><p style="opacity: 1; margin-bottom:0px; margin-top: 0px; color: rgba(
0, 0, 0
, 1);">TalenTeam</p></div></div>
    
    <div class="hat" style="margin-top: 10px;">What Others Told About Us</div>

    <div style="height:390px;font-size:24px; background-image:url(back.jpeg)" >
        <div class="recc1">
            <p class="rec"style= " width: 500px;height: 300px;border-right:solid 2px;">"Working with TalenTeam helped us open up more, not only to other companies but also to different communities."<br><br>Yaron A. - HeidelbergCementGroup</p>
            <p class="rec2"style="width: 500px;height: 300px;border-right:solid 2px;">"The company has helped us find the workers that we need. All of them were great trustable and serious at their job." <br><br> Julian S. - DayTwo</p>
            <p class="rec3"style="width: 500px;height: 300px;">"TalenTeam is a great company to work with, They give the best services. We can trust them by giving us great employees."<br><br> Michael L. - Aleph</p>
        </div>

       

    </div>


<div>
    <hr class="hr" style="margin-top: 0px; margin-bottom: 0px;">
    <div class="moto" style="margin: 0px;">TalenTeam To Reach The Dream!</div>
    <hr>

    <div class="slideshow-container" style="margin-top: 30px;">


            <div class="slideshow fade">
                <div class="nextpicture">1/4</div>
                <img id="picture1" src="https://images.pexels.com/photos/1249158/pexels-photo-1249158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width: 100%">
            </div>

            <div class="slideshow fade">
                <div class="nextpicture">2/4</div>
                <img id="picture2" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width: 100%" >
            </div>

            <div class="slideshow fade">
                <div class="nextpicture">3/4</div>
                <img id="picture3" src="https://images.pexels.com/photos/1181715/pexels-photo-1181715.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width: 100%">
            </div>

            <div class="slideshow fade">
                <div class="nextpicture">4/4</div>
                <img id="picture4" src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width: 100%">
            </div>
               <div>
     <a href="/vick">
                <button style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;" onclick="window.location.href='{{url_for('vick_route')}}">for vick</button></a>
</div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <br>

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>  
            </div>


    </div>
 
          

</div>


<script type="text/javascript" src="{{url_for('static' , filename='recommendations.js')}}"></script>
    

    

    

</body>
</html>